<!-- individual hunt view -->
<ion-modal-view>
  <ion-header-bar>
    <h1 ng-click="closeModal()" class="title">{{selectedHunt.info}}</h1>
  </ion-header-bar>
  
  <ion-content>
    <p>Selected Hunt:</p>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
      <ui-gmap-markers models="map.markers" coords="'self'" icon="'icon'" fit='true' modelsbyref="false">
      </ui-gmap-markers>
    </ui-gmap-google-map>

    <br>
    <rating ng-model="score" max="maxScore"></rating>
    
    <span class="input-label">Comment(s) : </span>
    <label class="item item-input">
        <input type="text" ng-model='comment' placeholder='This hunt was ...'>
    </label>
    <button ng-click="submitReview(comment, score)" class="button button-royal button-block">Submit!</button>
    <br>

    <h4>Comments </h4>
    <ion-list ng-repeat='comment in selectedHunt.comments track by $index'>
      <ion-item><img class='comment'>{{comment}}</ion-item>
    </ion-list>

    <ion-list ng-repeat="photo in selectedHunt.photos">
      <ion-item><img class="photo" rotate orientation='{{photo.orientation}}' src="{{photo.src}}"></ion-item>
    </ion-list>
    <br>
  </ion-content>
</ion-modal-view>

